
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Smart Login Form Responsive Widget Template</title>-->
<!--    &lt;!&ndash; Meta tag Keywords &ndash;&gt;-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--    <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}">-->
<!--    &lt;!&ndash; Meta tag Keywords &ndash;&gt;-->
<!--    &lt;!&ndash; css files &ndash;&gt;-->
<!--    <link th:href="@{/asserts/css/style.css}" rel="stylesheet" type="text/css" media="all">-->
<!--    <body>-->
<!--        &lt;!&ndash;header&ndash;&gt;-->
<!--        <div class="agileheader">-->
<!--            <h1></h1>-->
<!--        </div>-->
<!--        &lt;!&ndash;//header&ndash;&gt;-->
<!--        &lt;!&ndash;main&ndash;&gt;-->
<!--        <div class="main-w3l">-->
<!--            <div class="w3layouts-main">-->
<!--                <h2 th:text="#{login.tip}">立即登录</h2>-->
<!--                <form action="#" method="post">-->
<!--                    <input value="E-MAIL" name="Email" type="email" required onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-Mail';}" />-->
<!--                    <input value="PASSWORD" name="Password" type="password" required onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}" />-->
<!--                    <span><input type="checkbox"/>[[#{login.remember}]]</span>-->
<!--                    <h6><a href="#" th:text="#{login.forget}">忘记密码?</a></h6>-->
<!--                    <div class="clear"></div>-->
<!--                    <input type="submit" value="登 录" name="login" th:value="#{login.submit}">-->
<!--                </form>-->
<!--                <p>[[#{login.account}]]<a href="#" th:text="#{login.register}"></a></p>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;//main&ndash;&gt;-->
<!--        &lt;!&ndash;footer&ndash;&gt;-->
<!--        <div class="footer-w3l">-->
<!--            <p>&copy; 2019 Smart Login Form. All rights reserved | Design by <a href="http://www.bootstrapmb.com/">bootstrapmb</a></p>-->
<!--        </div>-->
<!--        &lt;!&ndash;//footer&ndash;&gt;-->

<!--    </body>-->
<!--</html>-->
